#header {
    background: rgba(0,0,69);
    color: #ffffff;
  }
  
  #branding h1 {
    color: #ffffff;
  }
  
  div.breadcrumbs {
    background: rgb(72, 72, 228);
    color: #ffffff;
  }
  
  .login .submit-row {
    padding: 0px !important;
    
  }
  
  
  input[type="submit"],
  input[type="button"],
  .submit-row input {
    width: 18%;
    background: rgb(0, 0, 69);
  }
  button.default, input[type=submit].default, .submit-row input.default {
    border: none;
    font-weight: 400;
    background: rgb(0, 0, 69);
  }
  
  .module h2,
  .module caption,
  .inline-group h2 {
    background: rgb(0, 0, 69);
  }
  
  #nav-filter {
    width: 75%;
    box-sizing: border-box;
   
    margin: 20px;
    border: 1px solid #3b77c6;
    background-color: var(--darkened-bg);
    color: #272727;
  }
  